<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<div id="app">
  <p v-once>{{ titulo }}</p> <!-- essa diretiva resolve o valor apenas uma vez  -->
  <p>{{ saudacao() }}</p>
  <!-- dentro do padrão double-mustache o retorno tem que ser uma string -->
  <a v-bind:href="link">Google</a>
  <!-- diretiva - propriedade personalizada não nativa do html -->
  <hr>
  <p v-html="linkHtml"></p> <!-- interpreta um código html -->
</div>

<!-- v-bind - faz a ligação entre a vue instance e o atributo da tag no template  -->

<script>
  new Vue({
    // temos acesso direto ao template
    el: "#app",
    data: {
      titulo: "Usando VueJS!",
      link: "http://google.com",
      linkHtml: '<a href="http://google.com" />'
    },
    methods: {
      // métodos e data não podem ter o mesmo nome
      saudacao: function () {
        this.titulo = "Bom dia!";
        return this.titulo; // faz um proxy
      },
    },
  });
</script>
